html{
    background-color: black; 
    font-family: "Libre Baskerville", serif;
}

h1{
    color: orange;
}
h3{
    color: orange;
}
h2{
    color: yellow;
}
footer{
    color: brown;
}
li{
    color: white;
}

