html{
    background-color: rgb(251, 246, 230); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Courier, monospace, Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif;
}

h1{
    color: rgb(26, 94, 94);
}
h3{
    color: rgb(26, 94, 94);
}
h2{
    color: blue;
}
footer{
    color: brown;
}
li{
    color: indigo;
}