html{
    background-color: black; 
    font-family: "Libre Baskerville", serif;
}

h1{
    color: rgb(26, 94, 94);
}
h3{
    color: rgb(26, 94, 94);
}
h2{
    color: blue;
}
footer{
    color: brown;
}
li{
    color: white;
}
